# Binaries
/rfs
/rfs-*
/test_crypto*
legacy_cpp/rfs*
legacy_cpp/test_crypto*
legacy_cpp/*.o
legacy_cpp/*.d
*.o
*.d

# Split files & temporary test outputs
*.rfs1
*.rfs2
*.orig
*.restored


# Added by cargo

/target
